
.nav_brand_text{
    font-size:3rem ;
    color: $white;
    font-weight: 400;
}
.section_title{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 600;
    color: $primary;
    // letter-spacing: .1rem;
}
.para{
    font-size: 1.7rem;
    color: $primary_light_text;
    line-height: 1.4;
 }