
.nav_brand_text{
    font-size:3rem ;
    color: var(--header-white);
    font-weight: 400;
}
.section_title{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary);
    // letter-spacing: .1rem;

    // @media screen and (max-width : $tablet-land){
    //     color: green;
    // }
    // @media screen and (max-width : $tablet-port){
    //     color: blue;
    // }
    // @media screen and (max-width : $phone){
    //     color: red;
    // }
    // @media screen and (max-width : $small){
    //     color: #ed13a4;
    //     // font-size: 5rem;
    // }
}
.para{
    font-size: 1.8rem;
    color: var(--primary_light_text);
    line-height: 1.2;
 }
 .footer_title{
    font-family: 'Raleway', sans-serif;
     font-size: 2.5rem;
     color: var(--primary);
 }
 .foot_link{
     display: block;
     color: var(--primary_light_text);
     font-size: 1.7rem;
     margin: .5rem 0;
 }