
@import 'base';
@import 'typography';


//header
body{
    position: relative;
    overflow-x: hidden;
}



#header{
    //  border: 1px solid green;
    // height: auto;
    // min-height: 100vh;
    padding-bottom: 8rem;
    background-image: url(../img/home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    // @media screen and (max-width : $tablet-land){
    //     height: 95vh;
    // }
    // @media screen and (max-width : 40rem){
    //     height: 85vh;
    // }
    // position: relative;
  
    nav{
        height: $navbar-height;
       
          .inner_nav{
              max-width: 110rem;
              height: 100%;
              margin:0 auto;
              display: flex;
              align-items: center;
            //   justify-content: center;
              padding: 0 1.5rem;
            //   border: 1px solid #160fd8;
           
          .square_icon {
              display: none;
              cursor: pointer;
              @media screen and (max-width : $tablet-port){
                display: block;
                font-size: 3rem;
                color: $white;
            }
          }
         
          .nav_brand{
              flex: 1;
             
          }
          .show{
            right: 0;
        }
        .nav_links{
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.5rem;
              overflow-x: hidden;
              @media screen and (max-width : $tablet-port){
               position: absolute;
               top: 0;
               right: -100%;
               display: flex;
               flex-direction: column;
            //    border: 1px solid red;
               height: 100vh;
               width: 60%;
               z-index: 100;
               padding: 5rem;
               align-items: flex-start;
               justify-content: flex-start;
               background-color: $white;
               transition: right .5s;
            //   overflow-x: hidden;
            }
              .nav_link{
                   font-size:2rem;
                   margin: 1rem 3rem;
                   border: 2px solid transparent;
                //    border: 2px solid red;
                   color: $white;
                   @media screen and (max-width : $tablet-port){
                       margin-bottom: 3rem;
                       font-size: 2.5rem;
                       color: $black;
                      
                        
                  
                   }
                   &:hover{
                       border-bottom: 2px solid $white;
                       @media screen and (max-width : $tablet-port){
                         border-bottom: 2px solid $primary;
                       }
                   }
                   a{
                    color: inherit;
                   }

              }
              .light_dark{
                //   border: 1px solid red;
                 
                  @media screen and (max-width : $tablet-port){
                    // position: absolute;
                    // bottom: 5rem;
                  }
                  .mode_text{
                      display: none;
                      @media screen and (max-width : $tablet-port){
                       display: inline;
                       color: $primary;
                       font-size: 2rem;
                       margin: 5rem 2rem 0rem 3rem;
                    }
                  }
                  i{
                     font-size: 2rem;
                      cursor: pointer;
                      color: $white;
                      @media screen and (max-width : $tablet-port){
                        color: $primary;
                      }
                  }
              }
        }
        .nav_links.show{
            right: 0%;
        }
        .close{
            display: none;
            
            @media screen and (max-width : $tablet-port){
               display: block;
               font-size: 4rem;
               color: $black;
               position: absolute;
                top: 1rem;
                right: 2rem;
                cursor: pointer;
              }
        }
      }
    }
    nav.sticky{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: $white;
        .inner_nav{
            .square_icon{
                color: $primary;
            }
            .nav_brand{
                color: $primary;
            }
            .nav_links{
                .nav_link{
                    color: $primary;
                }
                .light_dark{
                    
                    i{
                        color: $primary;
                    }
                }
            }
        }
    }
    
    .explore{
        margin: 0 auto;
        height: calc(90% - 10vh);
        // border: 1px solid red;
        padding: 10rem 1.5rem 0rem;
        position: relative;
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .discover{
            font-size: 2rem;
            font-weight: 600;
            color: $white;
        }
        &_title{
            font-size: 6rem;
            line-height: 1.1;
            margin-bottom: 5rem;
            color: $white;

            @media screen and (max-width : $tablet-land){
                // color: green;
            }
            @media screen and (max-width : $tablet-port){
                // color: blue;
            }
            @media screen and (max-width : $phone){
                // color: red;
            }
            @media screen and (max-width : $small){
                // color: #ed13a4;
                font-size: 5rem;
            }
        }
        button{
            margin-bottom: 6rem;
            align-self: flex-start;
        }
        .social{
            font-size: 3rem;
            @media screen and (max-width : $phone){
                display: flex;
                flex-direction: column;
            }
            
            i{
                margin-right: 2rem;
                color: $white;
                cursor: pointer;
            }
        }
       
        
    }
     .explore_best_div{
         position: relative;
         margin: 0 auto;
        //  border: 1px solid red;
     }
    .explore_best{
        position: absolute;
        bottom: 0rem;
        right: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid fuchsia;
        padding: 2rem;
        background-color: $primary;

        @media screen and (max-width : $phone){
            bottom: -4rem;
        }
        @media screen and (max-width : $small){
             width: 60%;
        }
        
        .five{
            font-size: 1.5rem;
            margin-right: 2rem;
            color: $white;
        }
        .explore_img{
            width: 15rem;
            height: 10rem;
            //  border: 1px solid blue;
             overflow: hidden;
             @media screen and (max-width : $phone){
                width: 10rem;
               height: 7rem;
            }
            
             img{
                 width: 100%;
                 height: 100%;
                //  object-fit:cover;
                 cursor: pointer;
                 transition: transform .3s;
                 &:hover{
                   transform: scale(1.1);
                 }
             }
        }
    }
}


// about

#about{
    margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 12rem 1.5rem;
  @media screen and (max-width : 46.87rem){
    flex-direction: column;
    .about_info{
        text-align: center;
        margin-bottom: 5rem;
    }
   }
  &>div{
    //   border: 1px solid red;
      flex: 1;
  }
  .about_info{
      padding-right: 5rem;
      &>*{
          margin-bottom: 3rem;
      }   
  }
  .about_imgs{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    //   border: 1px solid blue;
      @media screen and (max-width : 46.87rem){
        justify-content:center;
      }
     
      .about_img{
         
          overflow: hidden;
          margin-left: 2.5rem;
        //   border: 1px solid blue;
         
           @media screen and (max-width : 46.87rem){
            margin:0rem 1rem;
           }
        }
     
      .about_img_1{
        height: 35rem;
        width: 35%;
        // border: 1px solid blue;
        @media screen and (max-width : $inner_width){
            height: 25rem;
            // width: 40%;
          }
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          
            transition: transform .2s;
            &:hover{
                transform: scale(1.1);
            }
          
        }
    }
    
      .about_img_2{
        height: 42rem;
        width: 45%;
        // border: 1px solid rgb(208, 11, 162);
        @media screen and (max-width : $inner_width){
            height: 35rem;
            // width: 45%;
          }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
           
            transition: transform .2s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
  }
}
